/* h1{
          text-color: aqua;
        } */
      div.field
        {
          margin-left: 4cm;
          margin-top: 6cm;
          width:10;
        }

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
  
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;

    }

    /*#bck{
       background-image: url("pebbles-2020100_1920.jpg");
      background-repeat: no-repeat;
    }*/

    #pay{
    
        background: linear-gradient(to top, #ff6600 0%, #ff9933 100%);
              font-size: 20px;
      height: 150px;
    }
    #menu{
    
        background: linear-gradient(to top, #ff6600 0%, #ff9933 100%);
             /* font-size: 20px;*/
      height: 200px;
    }
    #bdlogo
    {
      position: relative;
      left:1600px;
      bottom:160px;
     
    }
    
      .bill {cursor: pointer; height: 1000px;}

    /*.img-with-text {
    
    position: static;
      right: 20px;
}
 */

    #cat{
      font-size: 80%;
      width: 100%;
    }

    /*.img {transition: transform .2s;}
    .img: hover{
      transform: scale(1.2); 

    }*/

    
 

    body{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 17px;
    }
    #foot{
      background-color:#faf8a5;
    }
    #para{
      text-align: justify;
    }
    

    #easypay{
      /* margin-bottom: 10%; */

      left: 20px;
    bottom: 50px;
    position: relative;

      color: #211f1d;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 50px;
        grid-row-gap: 10px;
        padding: 0px;
        
      }
      
      .grid-container > div {
      
        text-align: center;
        padding:0px ;
        font-size: 15px;

      }

      #div2{

       /* background-color: green;
        color: #fff; */
        height: 1000px;
        
        /* margin: 0px auto; */
        /* padding: 0px; */
      }
      
      #left{
        /*position: relative;*/
        /*left:400px;
        bottom:250px;
        height: 180px;*/
       
        background-color: red;
        color: #000; 
       height: auto;
        width: 48%;
        left:10px;
        float: left;

      }

      #right{
        position: relative;
        /*left:400px;
        bottom:250px;
        height: 180px;*/
         background-color: #efefef;
        color: #000;
        height:auto;
        width: 48%;
        float: right;
      }

      #auth{
        position: relative;
        /* left:100px; */
        top:20px;
      }
      #gap{
        margin-top: 50px;
      }

      #sample{
        position: relative;
        left:500px;
        bottom:290px;

      }
      #sample1{
        position: relative;
        /* left:500px;
        bottom:290px; */

      }

      #select { 
        appearance: none; 
        outline: 0; 
   
        background-image: none;
        color: black; 
        cursor: pointer; 
        border:1px solid black; 
        border-radius:5px; 
    } 

    #button{
        background: #0066A2;
        color: white;
        border-style: outset;
        border-color: white;
        border-radius:5px;
        height: 30px;
        
    }

    /* #tab2{
         margin-top: 31%;
    }  */
    /* Popup container - can be anything you want */
    .popup {
      position: relative;
      display: inline;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 160px;
      /* background-color: #555; */
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
    }
    
    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: 5px;
      border-width: 5px;
      border-style: solid;
      /* border-color: #555 transparent transparent transparent; */
    }
    
    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }
    
    